/*Inställningar för typsnitt, bakgrundsfärger, textfärger, storlekar mm. för alla skärmstorlekar*/
body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #718355;
}
h1{
    font-size: 2em;
    font-weight: bold;
    color: white;
}
h2{
    font-size: 1.7em;
    font-weight:bold;
    color: #718355;
}
h3{
    font-size: 1.4em;
    font-weight: bold;
    color: #718355;
}
header, footer{
background-color: #87986a;
text-align: center;
color: white;
padding: 1%;
}
#sidebar{
    background-color: #b5c99a;
    
}
#sidebar h2{
    color: white;
}
nav{
    
}
nav ul{
    list-style-type: none;
    display: inline;
    background-color: #b5c99a;
    padding: 2%;
}
nav li{
    background-color: #b5c99a;
        display: inline;
    padding: 1%;
}
nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
nav li:hover{
    background-color: #718355;
    
}
/*Media Queries*/

/*Små skärmar - mobiltelefon */
@media screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
    header{
        display: grid;
        grid-area: 1/1;
        width: 100%;
    }
}

/*Mellanstora skärmar - surfplatta*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
/*Stora skrämar - dator*/
@media screen and (min-width: 1024px) {
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}